* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #232830;
	width: 100%;
	font-family: Arial;
}
.container {
	max-width: 1236px;
	margin: 0 auto;
	padding-top: 40px;
}
.container .header {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 70px;
}
.header .header-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.header-top > a {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	text-decoration: none;
}
.header-top nav {
	display: flex;
	align-items: center;
	gap: 36px;
}
nav a {
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

.header .header-bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-bottom h1 {
	color: #ff7575;
	font-size: 71px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	margin-top: 40px;
}
.header-bottom p {
	color: #fff;
	font-size: 29px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  margin-top: 17px;
}

.categories {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.categories .icons {
  display: flex;
  gap: 13px;
}