* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #232830;
	width: 100%;
	font-family: Arial;
}
.container {
	max-width: 1236px;
	margin: 0 auto;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
}
.container .header {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 70px;
}
.header .header-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: Poppins;
}
.header-top > a {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	text-decoration: none;
}
.header-top nav {
	display: flex;
	align-items: center;
	gap: 36px;
}
nav a {
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

.header .header-bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-bottom h1 {
	color: #ff7575;
	font-size: 71px;
	font-style: italic;
	font-family: Recursive;
	font-weight: 400;
	line-height: normal;
	margin-top: 40px;
}
.header-bottom p {
	color: #fff;
	font-size: 29px;
	font-style: normal;
	font-family: Poppins;
	font-weight: 400;
	line-height: normal;
	margin-top: 17px;
}

.categories {
	position: relative;
	width: 100%;
	margin-top: 100px;
	display: flex;
	align-items: center;
	padding: 17px 0;
}
.categories::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 116px;
	background: linear-gradient(270deg, #232830 0.01%, rgba(35, 40, 48, 0) 87.5%);
}
.categories .icons {
	display: flex;
	gap: 13px;
}
.categories .lists {
	margin-left: 40px;
	display: flex;
	gap: 36px;
}
.categories .lists span {
	color: #909090;
	font-size: 27px;
	font-family: Recursive;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}

.container .articles {
	width: 1246px;
	margin-top: 110px;
	display: flex;
	flex-wrap: wrap;
	gap: 37px;
}
.articles article {
	position: relative;
	width: 390px;
	height: 439px;
	border-radius: 22px;
	border: 1px solid #252930;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 26px 26px 29px 26px;
}
.articles .thumbnail {
	width: 337.08px;
	height: 160px;
	border-radius: 22px;
}
article h3 {
	color: #0f1217;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 33px;
}
article p {
	color: #0f1217;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 13px;
}
article .article-footer {
	position: absolute;
	bottom: 29px;
	left: 26px;
	gap: 24px;
	color: #0f1217;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 43px;
	margin-top: 115px;
	align-self: center;
}
.pagination a {
	text-decoration: none;
	color: #909090;
	font-family: Recursive;
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}
.pagination .prev,
.pagination .next {
	color: #909090;
	font-family: Recursive;
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}
.pagination .pagination-number {
	display: flex;
	gap: 30px;
}
.pagination-number a.active {
	color: #ff7575;
	font-weight: 700;
}

footer {
	margin-top: 187px;
}
footer a.logo {
	text-decoration: none;
	color: #fff;
	font-family: poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
footer a.left-nick {
	text-decoration: none;
	color: #fff;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

footer a.right-nick {
	text-decoration: none;
	color: #fff;
	font-family: Source Sans Pro;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
